WebLayer/Service References/ServiceMedicamento/ServiceMedicamento2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLayer.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLayer.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MedicamentoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apresentacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClasseTerapeutica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Forma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Processo" type="xs:int" />
      <xs:element minOccurs="0" name="Registro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicamentoDto" nillable="true" type="tns:MedicamentoDto" />
  <xs:complexType name="ArrayOfMedicamentoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicamentoDto" nillable="true" type="tns:MedicamentoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicamentoDto" nillable="true" type="tns:ArrayOfMedicamentoDto" />
</xs:schema>