WebLayer/Service References/ServiceMedicamento/ServiceMedicamento1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53838/ServiceMedicamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer.Dto" />
  <xs:element name="BuscarPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLayer.Dto" minOccurs="0" name="BuscarPorCodigoResult" nillable="true" type="q1:MedicamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLayer.Dto" minOccurs="0" name="ListarMedicamentosResult" nillable="true" type="q2:ArrayOfMedicamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessLayer.Dto" minOccurs="0" name="pessoa" nillable="true" type="q3:MedicamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>